PORT=5001
MONGO_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
DATABASE_URL= 
# Redis Configuration (Get a FREE tier at upstash.com)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

